*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  font-family: 'outfit', sans-serif;
  
}

.header span a{
  color: orange;
text-decoration: none;
font-weight: bold;
font-size: 2rem;
}

.list-container{
  display: flex;
  align-items: center;
  gap: 30px;
}

.list-container li{
  list-style: none;
}

.list-container li a{
  color: #333;
  font-weight: bold;
  text-decoration: none;
  transition: 0.4s;
}

.list-container li:first-child{
  background: orange;
  color: white;
  border-radius: 18px;
  padding: 10px;
}

.list-container li .active{
  color: white;
}

.list-container li a:hover{
  background: orange;
  color: white;
  border-radius: 18px;
  padding: 10px;
}

.header .btn{
  display: flex;
  gap: 20px;
}

.header .btn a{
  background: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
  text-decoration: none;
  transition: 0.4s;
  font-weight: bold;
  cursor: pointer;
}

.header .btn a:hover{
  background: #ff8a65;
}

.container{
  display: flex;
  padding: 15px;
  margin: 30px;
  font-family: 'poppins', sans-serif;
}

.container .section-1{
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container .section-1 h1{
  line-height: 13vh;
  font-size: 2.5rem;
  color: orange;
  font-weight: bold;
}

.container .section-1 a{
  background: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
  text-decoration: none;
  transition: 0.4s;
  font-weight: bold;
  margin-top: 30px;
}

.container .section-1 a:hover{
  background: #ff8a65;
}
